extends layout

block content
	div.container
		div.box
			div.well
				form
					h2.center Mad Dawg!
					
					input.form-control.form-signin(type='email', id='email', placeholder = "Email")
					
					input.form-control.form-signin(type='password', id='pass', placeholder = "Password")
					br
					
					button.btn.btn-default Submit

		
			
