body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.box {
	width:330px;
	padding-left: 15px;
	padding-right:15px;
	text-align: center;
	margin: auto;
}
.center {
	text-align: center
}
