extends layout
block content
	div.container
		script.
			var username = "#{user.username}";
			var email = "#{user.email}";
			var roomid = 1;
		-var description = "Main Conference Room"
		include nav.jade
		include room.jade
